* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Samsung Sharp Sans Medium", "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #1c1c1c;
  color: #dcdcdc;
  width: 300px;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

strong {
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

p {
  font-size: 8px;
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 5px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #dcdcdc;
  transition: all 0.2s ease;
}

.checkbox-item:hover {
  color: #ccff33;
}


input[type="checkbox"] {
  appearance: none; 
  -webkit-appearance: none;
  width: 18px; 
  height: 18px; 
  border: 2px solid #555;
  border-radius: 4px; 
  background-color: #444;
  display: inline-grid;
  place-content: center;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
  background-color: #ccff33; 
  border-color: #ccff33;
}


input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #1c1c1c; 
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


.checkbox-item input:checked + span {
  color: #ccff33;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #444;
  color: #fff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  flex: 1;
  padding: 8px;
  margin: 0 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", "Segoe UI", Roboto, Arial, sans-serif;
}

.save {
  background: #6a7f4d;
  color: #fff;
}

.replace {
  background: #ff1d00;
  color: #fff;
}

#generateBtn {
  background: #fff;
  color: #333;
}

#downloadBtn {
  background: #0097FF;
  color: #fff;
}